<div class="header_absolute header_layout_1">
  <!-- <div id="particles-js"></div> -->
  <particles [params]="particleOptions.params" [style]="particleOptions.style" [width]="particleOptions.width"
    [height]="particleOptions.height"></particles>
  <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
  <header class="page_header ls justify-nav-end">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-4 col-md-5 col-11">
          <a href="./" class="logo">
            <span class="logo-text py-20"><strong>MM</strong>TECH</span>
          </a>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7 col-1">
          <div class="nav-wrap">

            <!-- main nav start -->
            <nav class="top-nav">
              <ul class="nav sf-menu">


                <li class="active">
                  <a href="index.html">Home</a>
                </li>

                <li>
                  <a href="about.html">Data Center</a>
                  <ul>
                    <li>
                      <a href="about.html">Server Virtualization</a>
                    </li>
                    <li>
                      <a href="team.html">VM-Aware Storage</a>
                    </li>
                    <li>
                      <a href="services.html">Protect VM and Data</a>
                    </li>
                    <li>
                      <a href="availability-map.html">Ensure System Uptime</a>
                    </li>
                    <li>
                      <a href="comingsoon.html">Comingsoon</a>
                    </li>
                    <li>
                      <a href="404.html">404</a>
                    </li>
                  </ul>
                </li>
                <!-- eof pages -->

                <li>
                  <a href="internet.html">Networking</a>
                  <ul>
                    <li><a href="#">Structured Cabling</a></li>
                    <li><a href="#">WiFi Potins Installation</a></li>
                  </ul>
                </li>

                <li>
                  <a href="iptv.html">Web Development</a>
                  <ul>
                    <li><a href="#">Static Website</a></li>
                    <li><a href="#">Web Application</a></li>
                  </ul>
                </li>

                <li>
                  <a href="voip.html">services</a>
                </li>

                <li>
                  <a href="voip.html">contact</a>
                </li>

                <li>
                  <a href="voip.html">about us</a>
                </li>

              </ul>


            </nav>
            <!-- eof main nav -->

            <!--hidding includes on small devices. They are duplicated in topline-->
            <ul class="top-includes d-none d-xl-block search-icon">

              <li>
                <!--modal search-->
                <span>
                  <a href="#" class="search_modal_button">
                    <i class="fa fa-search"></i>
                  </a>
                </span>

              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
    <!-- header toggler -->
    <span class="toggle_menu"><span></span></span>
  </header>

  <div class="page_header_wrapper main-header-side">
    <div class="page_header_side header_slide header_side_right ls">
      <span class="toggle_menu toggle_menu_side header-slide"><span></span></span>
      <div class="scrollbar-macosx">
        <div class="side_header_inner">
          <div class="header-side-menu">
            <!-- main side nav start -->
            <nav class="mainmenu_side_wrapper">
              <ul class="nav menu-click">
                <li>
                  <a href="faq.html">
                    <i class="color-main7 fa fa-question-circle"></i>
                    FAQ
                  </a>
                </li>
                <li>
                  <a href="booking-form.html">
                    <i class="color-main7 fa fa-paper-plane"></i>
                    Submit a ticket
                  </a>
                </li>
                <li>
                  <a href="terms_of_use.html">
                    <i class="color-main7 fa fa-rocket"></i>
                    Terms Of Use
                  </a>
                </li>
                <li>
                  <a href="availability-map.html">
                    <i class="color-main7 fa fa-file-text-o"></i>
                    Terms of Service
                  </a>
                </li>
                <li>
                  <a href="contact.html">
                    <i class="color-main7 fa fa-phone"></i>
                    call me back
                  </a>
                </li>
              </ul>
            </nav>
            <!-- eof main side nav -->
          </div>
        </div>
      </div>
      <div class="facebook-messeger d-flex align-items-center hero-bg">
        <img src="assets/images/messeger.png" alt="">
        <a href="https://messenger.com" class="small-text">
          facebook messeger
        </a>
      </div>
    </div>

  </div>
  <section class="page_title cs s-pt-60 s-pb-10 s-pt-lg-130 s-pb-lg-60 page_title text-center">
    <div class="container-fluid">
      <div class="row">

        <div class="divider-60"></div>

        <div class="col-md-12 text-center">
          <h1>The Best Solutions</h1>
        </div>

        <div class="divider-50"></div>

      </div>

    </div>
    <div class="ds social-flex">
      <p class="social-heading">
        follow
      </p>
      <p class="social-icons">
        <a href="#" class="fa fa-facebook color-white" title="facebook"></a>
        <a href="#" class="fa fa-twitter color-white" title="twitter"></a>
        <a href="#" class="fa fa-youtube-play color-white" title="google"></a>
      </p>
    </div>
    <ol class="breadcrumb full-width">
      <li class="breadcrumb-item">
        <a href="./">Home</a>
      </li>
      <!-- <li class="breadcrumb-item">
        <a href="#">Pages</a>
      </li>
      <li class="breadcrumb-item active">
        Services
      </li> -->
    </ol>
  </section>

</div>