<section class="page_topline ls s-borderbottom c-my-10 c-my-lg-20">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 text-md-left text-center">
        <ul class="top-includes">
          <li>
            <span class="icon-inline">
              <span class="icon-styled color-main fs-14">
                <i class="fa fa-phone"></i>
              </span>
              <span class="small-text">
                <a href="#">+959 - 123456789</a>
              </span>
            </span>
          </li>
          <li>
            <span class="icon-inline">
              <span class="icon-styled color-main fs-14">
                <i class="fa fa-pencil"></i>
              </span>
              <span class="small-text">
                <a href="#">enquiry@solution.com</a>
              </span>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-center text-md-right d-none d-md-block">
        <ul class="top-includes">
          <li>
            <span class="icon-inline">
              <span class="icon-styled color-main2 fs-14">
                <i class="fa fa-ticket"></i>
              </span>
              <span class="small-text">
                <a class="hover-main2" href="#">submit a ticket</a>
              </span>
            </span>
          </li>
          <li>
            <span class="icon-inline">
              <span class="icon-styled color-main2 fs-14">
                <i class="fa fa-globe"></i>
              </span>
              <span class="small-text">
                <a class="hover-main2" href="#">English</a>
              </span>
            </span>
          </li>
          <li>
              <span class="icon-inline">
                <span class="icon-styled color-main2 fs-14">
                  <i class="fa fa-globe"></i>
                </span>
                <span class="small-text">
                  <a class="hover-main2" href="#">Myanmar</a>
                </span>
              </span>
            </li>
          <li>
            <span class="icon-inline">
              <span class="icon-styled color-main2 fs-14">
                <i class="fa fa-user"></i>
              </span>
              <span class="small-text">
                <a class="hover-main2" href="#"> Login in / sign up</a>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>