<div class="container">
  <div class="row">
    <div class="divider-20 d-none d-xl-block"></div>

    <div class="col-md-6 col-xl-3 order-xl-1 order-md-1 animate" data-animation="fadeInUp">

      <div class="widget widget_text">
        <h4 class="widget-title">About</h4>
        <p>
          Welcome largest Network Solutions and Web Development services provider where you can choose the best plan ever.
        </p>
        <div class="widget widget_social_buttons">
          <a href="#" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
          <a href="#" class="fa fa-twitter color-bg-icon rounded-icon" title="twitter"></a>
          <a href="#" class="fa fa-youtube-play color-bg-icon rounded-icon" title="youtube-play"></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 order-xl-2 order-md-4 animate" data-animation="fadeInUp">
      <div class="widget links">
        <h4 class="widget-title">Links</h4>
        <ul>
          <li class="cat-item">
            <a href="blog-right.html">Link 01</a>
          </li>
          <li class="cat-item">
            <a href="blog-right.html">Link 02</a>
          </li>
          <li class="cat-item">
            <a href="blog-right.html">Link 03</a>
          </li>
          <li class="cat-item">
            <a href="blog-right.html">Submit a Ticket</a>
          </li>
          <li class="cat-item">
            <a href="blog-right.html">Support</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 order-xl-3 order-md-3 animate" data-animation="fadeInUp">
      <div class="widget services-links">
        <h4 class="widget-title">Services</h4>
        <ul>
          <li class="cat-item">
            <a href="blog-right.html">Data Center Solution</a>
          </li>
          <li class="cat-item">
              <a href="blog-right.html">Network Installation</a>
            </li>
          <li class="cat-item">
            <a href="blog-right.html">Dedicated Server</a>
          </li>
          <li class="cat-item">
            <a href="blog-right.html">Web Development</a>
          </li>
          <li class="cat-item">
            <a href="blog-right.html">Mobile App Development</a>
          </li>          
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 order-xl-4 order-md-2 animate" data-animation="fadeInUp">
      <div class="widget widget_icons_list">
        <h4 class="widget-title">Call Us</h4>
        <p>+959 - 123456789</p>
        <a href="#" class="small-text">
          <i class="fa fa-envelope-o color-main fs-14"></i>
          email us
        </a>
        <h4 class="widget-title">Visit Us</h4>
        <p>No XX, Yangon, Myanmar</p>
        <a href="#" class="small-text">
          <i class="fa fa-map-marker color-main3 fs-14"></i>
          Get Direction
        </a>
      </div>
      <div class="divider-45 d-none d-md-block d-xlz-none"></div>
    </div>
  </div>
</div>