<div id="home">
  <section
    class="s-pt-60 s-pb-50 s-pt-lg-160 s-pb-lg-110 ls ms service-part c-gutter-0 c-mb-20 c-mb-lg-60 text-center text-lg-left"
    id="services">
    <div class="divider-5 d-block d-lg-none"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-4 text-center text-lg-right">
          <div class="service-title d-flex d-lg-block">
            <span class="small-width color1">01</span>
            <div>
              <h6 class="fs-12 text-uppercase fw-400">Installation and Maintenance</h6>
              <h1>Network</h1>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="service-image text-center">
            <a href="#"><img src="assets/images/service/01.jpg" alt=""></a>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <p class="service-text fs-20">Wireless Surveys, Network management installation and support</p>
        </div>
      </div>
      <div class="divider-20 d-block d-lg-none"></div>
      <div class="row align-items-center service02">
        <div class="col-12 col-lg-4 order-lg-3">
          <div class="service-title d-flex d-lg-block">
            <span class="small-width color2">02</span>
            <div>
              <h6 class="fs-12 text-uppercase fw-400">Development and Services</h6>
              <h1>Website</h1>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 order-lg-2">
          <div class="service-image text-center">
            <a href="#"><img src="assets/images/service/02.jpg" alt=""></a>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center text-lg-right order-lg-1">
          <p class="service-text fs-20">We build websites with a complete strategy designed to turn your site visitors
            into customers</p>
        </div>
      </div>
      <div class="divider-20 d-block d-lg-none"></div>
      <div class="row align-items-center service03">
        <div class="col-12 col-lg-4 ">
          <div class="service-title d-flex d-lg-block text-center text-lg-right">
            <span class="small-width color3">03</span>
            <div>
              <h6 class="fs-12 text-uppercase fw-400">Data Center</h6>
              <h1>Solution</h1>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="service-image text-center">
            <a href="#"><img src="assets/images/service/03.jpg" alt=""></a>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <p class="service-text fs-20">Planning, development, installation, maintenance - custom-fitted to your needs
          </p>
        </div>
      </div>
      <div class="divider-20 d-block d-lg-none"></div>
      <div class="row align-items-center service04">
        <div class="col-12 col-lg-4 order-lg-3">
          <div class="service-title d-flex d-lg-block">
            <span class="small-width color4">04</span>
            <div>
              <h6 class="fs-12 text-uppercase fw-400">Online, Desktop and Mobile Apps</h6>
              <h1>Services</h1>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 order-lg-2">
          <div class="service-image text-center">
            <a href="#"><img src="assets/images/service/04.jpg" alt=""></a>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center text-lg-right order-lg-1">
          <p class="service-text fs-20">The process, life cycle and creation of the software aimed at helping users
            complete a computer task or program</p>
        </div>
      </div>
    </div>
    <div class="divider-10 d-block d-lg-none"></div>
    <div class="divider-10 d-block"></div>
  </section>

  <section class="s-pb-80 s-pb-lg-120 s-pb-xl-160 ls blog-carousel overflow-visible" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel" data-autoplay="true" data-loop="true" data-responsive-lg="3" data-responsive-md="2"
            data-responsive-sm="2" data-nav="false" data-dots="false" data-margin="60">
            <article
              class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail">
              <div class="item-media post-thumbnail">
                <div class="item-media">
                  <img src="assets/images/gallery/06.jpg" alt="">
                  <div class="media-links">
                    <a class="abs-link" title="" href="blog-single-@@type.html"></a>
                  </div>
                  <div class="post-data">
                    <a href="#">
                      <h6>02<span>oct</span></h6>
                    </a>
                  </div>
                </div>
              </div><!-- .post-thumbnail -->
              <div class="item-content">
                <header class="entry-header">
                  <h6>
                    <a href="blog-single-@@type.html" rel="bookmark">
                      Let's talk about Fiber Optic Media Converters
                    </a>
                  </h6>
                  <div class="entry-meta small-text color-darkgrey">
                    <span class="comment-count">
                      <a href="#">
                        5 comments
                      </a>
                    </span>
                    <span class="like-count">
                      <a href="#">
                        2 Likes
                      </a>
                    </span>
                    <span class="views-count">
                      10 Views
                    </span>
                  </div>
                  <!-- .entry-meta -->

                </header>
                <!-- .entry-header -->
              </div><!-- .item-content -->
            </article><!-- #post-## -->
            <article
              class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail">
              <div class="item-media post-thumbnail">
                <div class="item-media">
                  <img src="assets/images/gallery/07.jpg" alt="">
                  <div class="media-links">
                    <a class="abs-link" title="" href="blog-single-@@type.html"></a>
                  </div>
                  <div class="post-data">
                    <a href="#">
                      <h6>27<span>sept</span></h6>
                    </a>
                  </div>
                </div>
              </div><!-- .post-thumbnail -->
              <div class="item-content">
                <header class="entry-header">
                  <h6>
                    <a href="blog-single-@@type.html" rel="bookmark">
                      Let's talk about Fiber Optic Media Converters
                    </a>
                  </h6>
                  <div class="entry-meta small-text color-darkgrey">
                    <span class="comment-count">
                      <a href="#">
                        3 comments
                      </a>
                    </span>
                    <span class="like-count">
                      <a href="#">
                        1 Likes
                      </a>
                    </span>
                    <span class="views-count">
                      19 Views
                    </span>
                  </div>
                  <!-- .entry-meta -->

                </header>
                <!-- .entry-header -->
              </div><!-- .item-content -->
            </article><!-- #post-## -->
            <article
              class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail">
              <div class="item-media post-thumbnail">
                <div class="item-media">
                  <img src="assets/images/gallery/03.jpg" alt="">
                  <div class="media-links">
                    <a class="abs-link" title="" href="blog-single-@@type.html"></a>
                  </div>
                  <div class="post-data">
                    <a href="#">
                      <h6>19<span>sept</span></h6>
                    </a>
                  </div>
                </div>
              </div><!-- .post-thumbnail -->
              <div class="item-content">
                <header class="entry-header">
                  <h6>
                    <a href="blog-single-@@type.html" rel="bookmark">
                      Let's talk about Fiber Optic Media Converters
                    </a>
                  </h6>
                  <div class="entry-meta small-text color-darkgrey">
                    <span class="comment-count">
                      <a href="#">
                        9 comments
                      </a>
                    </span>
                    <span class="like-count">
                      <a href="#">
                        4 Likes
                      </a>
                    </span>
                    <span class="views-count">
                      25 Views
                    </span>
                  </div>
                  <!-- .entry-meta -->

                </header>
                <!-- .entry-header -->
              </div><!-- .item-content -->
            </article><!-- #post-## -->
            <article
              class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail">
              <div class="item-media post-thumbnail">
                <div class="item-media">
                  <img src="assets/images/gallery/05.jpg" alt="">
                  <div class="media-links">
                    <a class="abs-link" title="" href="blog-single-@@type.html"></a>
                  </div>
                  <div class="post-data">
                    <a href="#">
                      <h6>11<span>sept</span></h6>
                    </a>
                  </div>
                </div>
              </div><!-- .post-thumbnail -->
              <div class="item-content">
                <header class="entry-header">
                  <h6>
                    <a href="blog-single-@@type.html" rel="bookmark">
                      Let's talk about Fiber Optic Media Converters
                    </a>
                  </h6>
                  <div class="entry-meta small-text color-darkgrey">
                    <span class="comment-count">
                      <a href="#">
                        4 comments
                      </a>
                    </span>
                    <span class="like-count">
                      <a href="#">
                        3 Likes
                      </a>
                    </span>
                    <span class="views-count">
                      14 Views
                    </span>
                  </div>
                  <!-- .entry-meta -->

                </header>
                <!-- .entry-header -->
              </div><!-- .item-content -->
            </article><!-- #post-## -->
            <article
              class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail">
              <div class="item-media post-thumbnail">
                <div class="item-media">
                  <img src="assets/images/gallery/10.jpg" alt="">
                  <div class="media-links">
                    <a class="abs-link" title="" href="blog-single-@@type.html"></a>
                  </div>
                  <div class="post-data">
                    <a href="#">
                      <h6>04<span>sept</span></h6>
                    </a>
                  </div>
                </div>
              </div><!-- .post-thumbnail -->
              <div class="item-content">
                <header class="entry-header">
                  <h6>
                    <a href="blog-single-@@type.html" rel="bookmark">
                      Let's talk about Fiber Optic Media Converters
                    </a>
                  </h6>
                  <div class="entry-meta small-text color-darkgrey">
                    <span class="comment-count">
                      <a href="#">
                        1 comments
                      </a>
                    </span>
                    <span class="like-count">
                      <a href="#">
                        0 Likes
                      </a>
                    </span>
                    <span class="views-count">
                      7 Views
                    </span>
                  </div>
                  <!-- .entry-meta -->

                </header>
                <!-- .entry-header -->
              </div><!-- .item-content -->
            </article><!-- #post-## -->
            <article
              class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail">
              <div class="item-media post-thumbnail">
                <div class="item-media">
                  <img src="assets/images/gallery/17.jpg" alt="">
                  <div class="media-links">
                    <a class="abs-link" title="" href="blog-single-@@type.html"></a>
                  </div>
                  <div class="post-data">
                    <a href="#">
                      <h6>31<span>aug</span></h6>
                    </a>
                  </div>
                </div>
              </div><!-- .post-thumbnail -->
              <div class="item-content">
                <header class="entry-header">
                  <h6>
                    <a href="blog-single-@@type.html" rel="bookmark">
                      Let's talk about Fiber Optic Media Converters
                    </a>
                  </h6>
                  <div class="entry-meta small-text color-darkgrey">
                    <span class="comment-count">
                      <a href="#">
                        6 comments
                      </a>
                    </span>
                    <span class="like-count">
                      <a href="#">
                        8 Likes
                      </a>
                    </span>
                    <span class="views-count">
                      34 Views
                    </span>
                  </div>
                  <!-- .entry-meta -->

                </header>
                <!-- .entry-header -->
              </div><!-- .item-content -->
            </article><!-- #post-## -->
          </div><!-- .testimonials-slider -->

        </div>
      </div>
    </div>
  </section>

  <section class="footer-carousel c-gutter-0 container-px-0 s-py-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="owl-carousel small-gallery-carousel" data-margin="0" data-responsive-lg="8" data-responsive-md="4"
            data-responsive-sm="3" data-responsive-xs="2" data-nav="true" data-loop="true">

            <a href="assets/images/square/03.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/03.jpg" alt="">
            </a>
            <a href="assets/images/square/04.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/04.jpg" alt="">
            </a>
            <a href="assets/images/square/05.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/05.jpg" alt="">
            </a>
            <a href="assets/images/square/06.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/06.jpg" alt="">
            </a>
            <a href="assets/images/square/07.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/07.jpg" alt="">
            </a>
            <a href="assets/images/square/08.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/08.jpg" alt="">
            </a>
            <a href="assets/images/square/09.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/09.jpg" alt="">
            </a>
            <a href="assets/images/square/10.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/10.jpg" alt="">
            </a>
            <a href="assets/images/square/01.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/01.jpg" alt="">
            </a>
            <a href="assets/images/square/02.jpg" class="photoswipe-link" data-width="800" data-height="800">
              <img src="assets/images/square/02.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>